@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* color palette */
  --color-biloba-flower-50: #f5f5fd;
  --color-biloba-flower-100: #ededfa;
  --color-biloba-flower-200: #deddf7;
  --color-biloba-flower-300: #c4c2f0;
  --color-biloba-flower-400: #b3adea;
  --color-biloba-flower-500: #8777db;
  --color-biloba-flower-600: #725acd;
  --color-biloba-flower-700: #6247ba;
  --color-biloba-flower-800: #523b9c;
  --color-biloba-flower-900: #453280;
  --color-biloba-flower-950: #2a1f56;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
