name: Rust backend build and unit tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: apt update -y && apt upgrade -y && apt install protobuf-compiler
      - name: Check if any best practice was violated
        run: cargo clippy
      - name: Run tests
        run: cargo test --verbose
